<%= simple_form_for @docente, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nombres %>
  <%= f.input :apellidos %>
  <%= f.input :cedula %>
  <%= f.input :email %>
  <%= f.input :direccion %>
  <%= f.input :telefono %>
  <%= f.input :fch_nacimiento %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                docentes_path, :class => 'btn' %>
  </div>
<% end %>
